{% load static %}

<script>
    function before() {
        document.getElementById ('myImage')
        .src="{% static 'magic8ball-animated.gif' %}"
        setTimeout ("blank()", 5500)
    }
    function blank() {
        document.getElementById ('myImage')
        .src="{% static 'magic8ball-static.png' %}"
    }
   
</script>

<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <head>
        
    </head>
    <body>
        <form> 
            Question: <input type="text">
        </form>
    </body>
    <button
        style="background-color: transparent; border: 0px"
        onclick=before();>  
        <img 
            id="myImage"
            src="{% static 'magic8ball-static.png' %}"
            width="425"
            height="425">
    </button>
    
    <body>
        <p>Answer</p>
    </body>
</html>