body {
    background: linear-gradient(#c313d3, #410da7);
    min-height: 100vh;
    margin: 0;
  }
  
  .menu {
    text-align: right;
    padding: 0.5em;
  }
  .menu .items {
    display: none;
  }
  
  .hero {
    text-align: center;
    color: white;
  }
  .hero .ball {
    background-color: transparent;
  }
  .hero .ball img {
    background-color: transparent;
    border: 0px;
    width: 30em;
    height: 30em;
    cursor: pointer;
  }