//REMEBER TO CLICK WATCH SASS BEFORE EDITING!!!

body {
    background: linear-gradient(#c313d3, #410da7);
    min-height: 100vh; // Makes gradient apply to the full height of window 
    margin: 0;
}

.menu {
    text-align: right;
    padding: 0.5em; 

    .items {
        display: none; //Makes the menu's content hidden by default 
    }
}

.hero {
    text-align: center;
    color: white; 

    .user-input {

    }

    .ball {
        background-color: transparent;

        img {
            background-color: transparent;
            border: 0px;
            width: 30em;
            height: 30em; 
            cursor: pointer; 
        }
    }

    .ball-output {

    }
}